@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");

* {
  padding: 0;
  margin: 0 auto;
  box-sizing: border-box;
  font-family: "Raleway";
}
.container {
  display: flex;
  width: 100%;
  flex-direction: column;
}
section {
  flex: 1;
  display: flex;
  width: 100%;
}
.section-3 {
  background-color: #f4f4f4;
  flex-direction: column;
}

.section-5,
.section-6 {
  flex-direction: column;
}
.wrap-axe {
  margin-top: 84px;
}
.wrap-header {
  flex: 1;
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 140%;
  letter-spacing: 0.78em;
  text-transform: uppercase;
  margin-top: 30px;
}
.wrap-context {
  flex: 1;
  font-size: 16px;
  line-height: 33px;
  text-align: center;
  letter-spacing: 0.05em;
  margin-top: 25px;
  width: 50%;
}
header {
  display: flex;
  background-image: url(./images/Header.jpg);
  background-size: 100%;
  background-repeat: space no-repeat;
  background-position: center center;
  resize: both;
  flex-direction: column;
  width: 100%;
  height: 600px;
  flex: 1;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
}
.bg-logo {
  flex: 1;
  width: 50px;
  height: 50px;
  /* background-color: black; */
  margin-left: 20%;
  margin-top: 100px;
}
.logo-white {
  width: 50px;
  height: 50px;
}

.context-1 {
  flex: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 430px;
  justify-content: space-evenly;
  color: #ffffff;
  margin-bottom: 100px;
}
.header {
  display: relative;
  font-size: 22px;
  text-transform: uppercase;
  letter-spacing: 0.64em;
  text-shadow: 0px 0px 4px #000, -1px -1px 0 #000, 1px -1px 0 #000,
    -1px 1px 0 #000, 1px 1px 0 #000;
  color: #ffffff;
  /* margin: auto; */
}
.context-1 h2 {
  font-size: 13px;
  letter-spacing: 0.37em;
}
.context-1 span {
  display: flex;
  background-color: #fde500;
  width: 172px;
  height: 44px;
  align-items: center;
  justify-content: center;
}
.learn-more-link {
  font-size: 11px;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.37em;
}
.section2-wrap {
  height: 600px;
}
.mountain-logo {
  flex: 1;
  width: 153px;
  height: 78px;
}
.servises {
  display: flex;
  flex: 1;
  width: 100%;
  flex-wrap: nowrap;
  justify-content: center;
}
.experience-level {
  display: flex;
  width: 100%;
  flex-wrap: nowrap;
  justify-content: center;
}
.card,
.card2 {
  display: flex;
  flex: 1;
  max-width: 274px;
  min-width:180px;
  border: 1px solid #000;
  background-color: #ffffff;
  margin: 25px;
  flex-direction: column;
  align-items: center;
  /* flex-wrap: nowrap; */
  justify-content: center;
}
.card {
  height: 353px;
  margin-top: 70px;
}
.card2 {
  height: 166px;
}
.card h3 {
  flex: 1;
  font-size: 0.74em;
  letter-spacing: 0.25em;
  text-transform: uppercase;
  color: #0b0b0b;
  margin-top: 25px;
}
.card-context3 {
  font-size: 0.7em;
  width: 85%;
  height: 600px;
  margin-top: 35px;
  text-align: center;
}
.service-icon {
  flex: 1;
  margin-top: 40px;
}

.rect {
  height: 5px;
  width: 80%;
  border-radius: 8px;
  background-color: #f4f4f4;
}
.iner-rect {
  height: 5px;
  align-items: flex-start;
  background-color: #fde500;
  border-radius: 8px;
  margin-left: 0;
}
.level {
  margin-top: 7px;
  margin-left: 16px;
  margin-bottom: 10px;
  font-weight: 600;
  font-size: 14px;
  line-height: 140%;
  letter-spacing: 0.05em;
}
.skill1,
.skill2,
.skill3,
.skill6 {
  width: 80%;
}
.section-4 {
  background-color: #0b0b0b;
}
.section4-links {
  display: flex;
  height: 240px;
  width: 80%;
  align-items: center;

  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
}
.links {
  display: flex;
  flex: 1;
  max-width: 274px;
  height: 71px;
  background-color: #f4f4f4;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  font-size: 13px;
  margin: 25px;
}
.links a {
  margin-top: 8px;
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
}
.section-5-nav {
  flex: 1;
  display: block;
  width: 70%;
  height: 250px;
}
.nav-5 {
  display: flex;
  list-style: none;
  margin-top: 100px;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  border-top: solid 1px black;
  border-bottom: solid 1px black;
  font-size: 0.7em;
  font-weight: 600;
  line-height: 63px;
  width: 100%;
}
.link5 {
  display: flex;
  align-self: flex-start;
  justify-content: start;
}
.l1 {
  margin-left: 15px;
}
.l2 {
  margin-left: 15px;
}
.l3 {
  margin-right: -26px;
}
.l4 {
  margin-right: 25px;
}
.link5 a {
  text-decoration: none;
  color: #000;
}
.logo-black {
  background-color: white;
  position: relative;
  width: 175px;
  height: 105px;
  display: flex;
  justify-content: center;
  bottom: 80px;
}

.section-6-images {
  display: flex;
  z-index: 0;
}
.img-wraper {
  flex: 1;
  /* border: 2px solid black; */
}
.img6 {
  width: 100%;
  height: 100%;
  z-index: 0;
}
.img-4 {
  display: flex;
  background-image: url(./images/Branding04.jpg);
  background-size: cover;
  background-position: center center;
}

.card-yellow-bg {
  position: relative;
  width: 80%;
  height: 80%;
  background-color: #fde500;
  opacity: 0.9;
  z-index: 2;
  margin-top: 10%;
}
.card-white-bg {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 140%;
  height: 80%;
  background-color: #ffffff;
  margin-left: -20%;
  margin-top: 10%;
  z-index: 2;
  opacity: 100%;
}
.card-header {
  flex: 1;
  font-weight: 600;
  font-size: 75%;
  line-height: 2rem;
  text-align: center;
  letter-spacing: 0.25em;
  text-transform: uppercase;
}
.card-context6 {
  flex: 2;
  font-size: 54%;
  line-height: 1rem;
  text-align: center;
  letter-spacing: 0.05em;
  width: 80%;
}
.section-7-container {
  height: 220px;
}
.yellow-rec-7 {
  display: flex;
  background-color: #fde500;
  width: 270px;
  height: 45px;
  align-items: center;
  justify-content: center;
  margin-top: 94px;
}
.like-what-you-see {
  font-size: 11px;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.37em;
}

.section-8-bg {
  display: flex;
  height: 380px;
  width: 100%;
  background-image: url(./images/View.jpg);
  background-size: cover;
}
.yellow-rec-8 {
  display: flex;
  background-color: #fde500;
  width: 371px;
  height: 76px;
  align-items: center;
  justify-content: center;
  margin-top: 145px;
  margin-bottom: 160px;
}
.view-our-video {
  font-size: 16px;
  letter-spacing: 0.63em;
  text-transform: uppercase;
  font-weight: 600;
}

.wrap {
  display: flex;
  flex: 1;
  width: 100%;
  flex-direction: column;
  justify-content: end;
}

.section-10 {
  margin-top: 72px;
  justify-content: center;
}
.team-cards {
  display: flex;
  flex: 1;
  max-width: 274px;
  height: 520px;
  border: 1px solid #f4f4f4;
  background-color: #ffffff;
  margin: 10px;
  flex-direction: column;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: center;
}
.member-pic {
  flex: 1;
  height: 352px;
  min-width: 220px;
}
.pic {
  width: 100%;
}
.member-name {
  position: relative;
  height: 20%;
  width: 100%;
  background-color: #fde500;
  opacity: 0.9;
  bottom: 75px;

  text-align: center;
  letter-spacing: 0.25em;
  font-weight: 600;
  font-size: 13px;
  line-height: 65px;
}
.member-story {
  flex: 2;
  font-size: 0.7em;
  width: 85%;
  height: 600px;
  margin-top: 35px;
  text-align: center;
}
